@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: $font-family;
    background-image: url(./../../assets/images/bg-intro-desktop.png);
    background-color: $primary;
}
// helper class
.d-flex {
    display: flex;
}

.overflow-auto {
    overflow-y: auto;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.flex-frow-1 {
    flex-grow: 1;
}

.align-item-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}


.h-100 {
    height: 100%;
}

.border-none {
    border: none;
}

.p-50 {
    padding: 50px;
}

.cursor-pointer {
    cursor: pointer;
}
.text-danger{
    color: red;
}
.input-border{
    border:  2px solid red;
}
.position-relative{
    position: relative;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
// media Query

@media (max-width: 576px) {
    .main-wrapper {
        flex-direction: column;
        margin-top: 30px;
    
    }
    
}
@media  (min-width: 600px)  {
    .main-wrapper {
       height: 100%;

    }

}
