@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: $font-family;
    background-image: url("../../../images/bg-intro-desktop.png");
    background-color: #fe7a71;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.flex-frow-1 {
    flex-grow: 1;
}

.align-item-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.border {
    border: 2px solid red
}

@media(max-width:576px) {
    .main-wrapper {
        flex-direction: column;
    }
}