//===== color ====
$white:white;
$box-shadow-color: rgba(0, 0, 0, 0.089);
$primary: #fe7a71;
$btn-primary: hsl(154deg 58% 52%);
$btn-secondy:hsl(246deg 30% 48%);

// ==== font-family ====
$font-family: 'Poppins', sans-serif;

// font waight 
$font-medium:700;

// ==== Size ====
   $font-16px:16px;