@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-image: url("./../../assets/images/bg-intro-desktop.png");
  background-color: #fe7a71;
}

.d-flex {
  display: flex;
}

.overflow-auto {
  overflow-y: auto;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.flex-frow-1 {
  flex-grow: 1;
}

.align-item-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.border-none {
  border: none;
}

.p-50 {
  padding: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-danger {
  color: red;
}

.input-border {
  border: 2px solid red;
}

.position-relative {
  position: relative;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media (max-width: 576px) {
  .main-wrapper {
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (min-width: 600px) {
  .main-wrapper {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .left-section {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .left-section {
    padding: 20px;
  }
}
.left-section h1 {
  font-size: 50px;
  color: white;
}
@media (max-width: 992px) {
  .left-section h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .left-section h1 {
    font-size: 25px;
    text-align: center;
  }
}
.left-section p {
  font-size: 20px;
  padding-top: 30px;
  color: white;
}
@media (max-width: 992px) {
  .left-section p {
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .left-section p {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .right-section {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .right-section {
    padding: 20px;
  }
}
.right-section .btn {
  padding: 20px 130px;
  background-color: hsl(246deg, 30%, 48%);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.089);
}
.right-section .btn span {
  font-weight: 700;
}
@media (max-width: 992px) {
  .right-section .btn {
    padding: 15px 80px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .right-section .btn {
    padding: 15px 79px;
    font-size: 14px;
  }
}
.right-section .btn2 {
  padding: 20px 144px;
  background-color: hsl(154deg, 58%, 52%);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .right-section .btn2 {
    padding: 15px 50px;
    font-size: 14px;
    white-space: nowrap;
  }
}
@media (max-width: 576px) {
  .right-section .btn2 {
    padding: 15px 48px;
    font-size: 14px;
    margin-top: 10px;
  }
}
.right-section .card {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.089);
}
@media (max-width: 992px) {
  .right-section .card {
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .right-section .card {
    padding: 17px;
  }
}
.right-section .form-control {
  padding: 20px 240px 20px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: hsl(255deg, 2%, 44%);
  border-radius: 5px;
}
@media (max-width: 992px) {
  .right-section .form-control {
    padding: 15px 36px 15px 16px;
  }
}
@media (max-width: 576px) {
  .right-section .form-control {
    padding: 15px 36px 15px 16px;
  }
}
.right-section input::placeholder {
  font-size: 16px;
  font-weight: 700;
}
.right-section .form-control:focus {
  border: 2px solid hsl(246deg, 30%, 48%);
}
.right-section p {
  font-size: 12px;
  color: hsl(250deg, 12%, 80%);
}
@media (max-width: 992px) {
  .right-section p {
    text-align-last: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .right-section p {
    text-align-last: center;
    text-align: center;
  }
}
.right-section .text-danger {
  color: #fe7a71;
  font-weight: 700;
  text-decoration: none;
}
.right-section .validation {
  padding-left: 300px;
}
@media (max-width: 992px) {
  .right-section .validation {
    padding-left: 100px;
  }
}
@media (max-width: 576px) {
  .right-section .validation {
    padding-left: 90px;
    font-size: 11px;
  }
}
.right-section .border-input {
  border: 2px solid hsl(0deg, 0%, 90%);
}
.right-section .arror-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
