// Right section css 
.right-section {
    @media (max-width: 992px) {
        padding: 30px;
    }
    @media(max-width:576px) {
        padding: 20px;
    }
    // top button
    .btn {
        padding: 20px 127px;
        background-color:$btn-secondy;
       @include rounded;
        color: $white;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
         @include box-shadow;
        span {
            font-weight: 700;
        }
        @media (max-width: 992px) {
            padding: 15px 80px;
            font-size: 14px;
        }
        @media(max-width:576px) {
            padding: 15px 79px;
            font-size: 14px;
        }
        
    }

    .btn2 {
        padding: 20px 0px;
        background-color: $btn-primary;
        @include rounded;
        color: $white;
        font-size:$font-16px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        @media (max-width: 992px) {
            width: 100%;
            font-size: 14px;
            white-space: nowrap;
        }
        @media(max-width:576px) {
            // padding: 15px 48px;
            font-size: 14px;
            margin-top: 10px;
            width: 100;
        }
        
    }
    .card {
        background-color: $white;
        padding: 30px;
        @include rounded;
        @include box-shadow;
        @media (max-width: 992px) {
            padding: 17px;
        }
        @media(max-width:576px) {
            padding: 17px;
        }
       
    }
    .form-control {
        padding: 20px 240px 20px 30px;
        margin: 8px 0;
        box-sizing: border-box;
      
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        font-size: $font-16px;
        font-weight:$font-medium;
        color: hsl(255deg 2% 44%);
        @include rounded;
        @media (max-width: 992px) {
            padding: 15px 36px 15px 16px;
        }
        @media(max-width:576px) {
            padding: 15px 36px 15px 16px;
        }
    }
    input::placeholder {
        font-size:$font-16px;
        font-weight: 700;
    }
    .form-control:focus {
        border: 2px solid $btn-secondy;
    }

    p {
        font-size: 12px;
        color: hsl(250deg 12% 80%);
        @media (max-width: 992px) {
           @include  text-align;
        }
        @media(max-width:576px) {
            @include text-align;
        }
       
    }
    .text-danger {
        color: $primary;
        font-weight:$font-medium;
        text-decoration: none;

    }
    .validation{
       padding-left: 300px;
       @media (max-width: 992px) {
        padding-left: 100px;
     }
     @media(max-width:576px) {
        padding-left: 90px;
        font-size: 11px;
        
     }
    }
    .border-input{
          border: 2px solid hsl(0deg 0% 90%);
    }
    .arror-icon{
        position: absolute;
        right: 15px;
        top: 50%;
        transform:translateY(-50%);
       

    }
}